###
# INSTRUCTIONS:
# 1. Make any changes you require
# 2. Copy this file to:
#   - Linux/macOS: "${HOME}/.ssh/config"
#   - Windows 10: "%HOMEPATH%/.ssh/config"
###

# TinkerCliffs
host arc-tc
    hostname tinkercliffs1.arc.vt.edu
    # user <vt-pid>

# TinkerCliffs cluster nodes.
# Usage: ssh tc1234
host tc*
    hostname %h
    ProxyJump arc-tc
    # user <vt-pid>

# Infer
host arc-inf
    hostname infer1.arc.vt.edu
    # user <vt-pid>

# Infer cluster nodes.
# Usage: ssh inf1234
host inf*
    hostname %h
    ProxyJump arc-inf
    # user <vt-pid>